In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
data=pd.read_csv('Student_Data (Autosaved).csv')
data.describe()

,Math_score,Reading_score,Writiing_score,Placement_score,Club_join,Placement_count
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,72.000000,83.900000,70.066667,87.833333,2019.233333,2.633333
std,5.252257,6.423824,6.351396,7.808410,1.040004,0.490133
min,61.000000,75.000000,60.000000,75.000000,2018.000000,2.000000
25%,69.000000,78.000000,65.000000,80.500000,2018.000000,2.000000
50%,71.000000,83.500000,69.500000,89.000000,2019.000000,3.000000
75%,76.000000,90.000000,75.000000,94.000000,2020.000000,3.000000
max,80.000000,95.000000,80.000000,100.000000,2021.000000,3.000000

In [6]:
numericColumns= ['Math_score', 'Reading_score', 'Writiing_score', 'Placement_score', 'Placement_count']

print("Mean:")
data[numericColumns].mean()

Mean:

Math_score         72.000000
Reading_score      83.900000
Writiing_score     70.066667
Placement_score    87.833333
Placement_count     2.633333
dtype: float64

In [7]:

print("Mode:")
data[numericColumns].mode().iloc[0]

Mode:

Math_score         71.0
Reading_score      76.0
Writiing_score     73.0
Placement_score    77.0
Placement_count     3.0
Name: 0, dtype: float64

In [8]:

print("Median:")
data[numericColumns].median()

Median:

Math_score         71.0
Reading_score      83.5
Writiing_score     69.5
Placement_score    89.0
Placement_count     3.0
dtype: float64

In [9]:
#Standard Deviation
print("Standard Deviation:")
data[numericColumns].std()

Standard Deviation:

Math_score         5.252257
Reading_score      6.423824
Writiing_score     6.351396
Placement_score    7.808410
Placement_count    0.490133
dtype: float64

In [10]:

print("Standard Deviation:")
data[numericColumns].std()

Standard Deviation:

Math_score         5.252257
Reading_score      6.423824
Writiing_score     6.351396
Placement_score    7.808410
Placement_count    0.490133
dtype: float64

In [11]:

print("Minimum:")
data[numericColumns].min()

Minimum:

Math_score         61
Reading_score      75
Writiing_score     60
Placement_score    75
Placement_count     2
dtype: int64

In [12]:

e = preprocessing.OneHotEncoder()
enc_data = pd.DataFrame(e.fit_transform(data[['Gender']]).toarray())
enc_data

      0    1
0   0.0  1.0
1   0.0  1.0
2   0.0  1.0
3   1.0  0.0
4   1.0  0.0
5   1.0  0.0
6   0.0  1.0
7   1.0  0.0
8   1.0  0.0
9   1.0  0.0
10  0.0  1.0
11  0.0  1.0
12  0.0  1.0
13  1.0  0.0
14  1.0  0.0
15  0.0  1.0
16  1.0  0.0
17  0.0  1.0
18  1.0  0.0
19  0.0  1.0
20  1.0  0.0
21  1.0  0.0
22  0.0  1.0
23  1.0  0.0
24  0.0  1.0
25  0.0  1.0
26  1.0  0.0
27  1.0  0.0
28  0.0  1.0
29  0.0  1.0

In [13]:
 encodeData =data.join(enc_data)
encodeData

,Math_score,Reading_score,Writiing_score,Placement_score,Club_join,Placement_count,Gender,0,1
0,67,91,60,90,2018,3,male,0.0,1.0
1,71,76,60,86,2018,3,male,0.0,1.0
2,71,86,78,89,2019,3,male,0.0,1.0
3,69,81,61,77,2019,2,female,1.0,0.0
4,69,80,73,96,2020,3,female,1.0,0.0
5,80,76,78,82,2018,2,female,1.0,0.0
6,79,92,62,88,2018,3,male,0.0,1.0
7,76,87,73,94,2020,3,female,1.0,0.0
8,80,76,73,84,2020,2,female,1.0,0.0
9,63,75,75,80,2020,2,female,1.0,0.0
10,71,78,76,75,2019,2,male,0.0,1.0
11,61,81,80,82,2021,2,male,0.0,1.0
12,75,77,74,98,2018,3,male,0.0,1.0
13,66,78,69,78,2018,2,female,1.0,0.0
14,74,91,65,86,2019,3,female,1.0,0.0
15,65,79,79,79,2018,2,male,0.0,1.0
16,73,76,62,77,2020,2,female,1.0,0.0
17,78,92,69,100,2019,3,male,0.0,1.0
18,71,95,63,78,2019,2,female,1.0,0.0
19,69,76,70,94,2018,3,male,0.0,1.0
20,76,88,65,92,2018,3,female,1.0,0.0
21,68,92,75,89,2020,3,female,1.0,0.0
22,66,91,79,95,2020,3,male,0.0,1.0
23,80,90,67,99,2021,3,female,1.0,0.0
24,78,85,78,77,2021,2,male,0.0,1.0
25,70,89,65,94,2021,3,male,0.0,1.0
26,74,82,67,97,2020,3,female,1.0,0.0
27,71,90,67,89,2019,3,female,1.0,0.0
28,78,80,73,93,2019,3,male,0.0,1.0
29,71,87,66,97,2019,3,male,0.0,1.0

In [14]:
encodeData.describe()

,Math_score,Reading_score,Writiing_score,Placement_score,Club_join,Placement_count,0,1
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,72.000000,83.900000,70.066667,87.833333,2019.233333,2.633333,0.500000,0.500000
std,5.252257,6.423824,6.351396,7.808410,1.040004,0.490133,0.508548,0.508548
min,61.000000,75.000000,60.000000,75.000000,2018.000000,2.000000,0.000000,0.000000
25%,69.000000,78.000000,65.000000,80.500000,2018.000000,2.000000,0.000000,0.000000
50%,71.000000,83.500000,69.500000,89.000000,2019.000000,3.000000,0.500000,0.500000
75%,76.000000,90.000000,75.000000,94.000000,2020.000000,3.000000,1.000000,1.000000
max,80.000000,95.000000,80.000000,100.000000,2021.000000,3.000000,1.000000,1.000000